.application {
  padding: 70px 0;
  background-color: #eceff7;
  overflow: hidden;
  position: relative;

  > svg {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 0;
  }

  .application-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      color: #083a5e;

      @media (max-width: 550px) {
        font-size: 35px;
      }
    }

    > div {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .application-qr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      img {
        border-radius: 10px;
      }
      @media (max-width: 768px) {
        width: 60%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }

      @media (max-width: 425px) {
        height: 300px;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;

      color: #497696;
    }
  }
}

.consultation {
  position: relative;
  top: -20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(13.2px);
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: space-between;

  @media (max-width: 550px) {
    flex-direction: column;
    gap: 20px;
  }

  button {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #4762ff;
    color: #fff;
    font-weight: 500;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
    }
    h3 {
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;

      color: #083a5e;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;

      color: #497696;
    }
  }
}
