.services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 90%;
  margin: 100px auto;

  h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;

    color: #083a5e;

    @media (max-width: 550px) {
      font-size: 35px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    ul {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 1024px) {
        width: 80%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }

      > li {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          max-width: 50px !important;
          max-height: 50px !important;
        }

        &:nth-child(n + 3) {
          opacity: 0.3 !important;
        }

        > div {
          &:nth-child(1) {
            min-width: 80px;
            min-height: 80px;
            background: #ebebeb;
            border-radius: 15px;
          }
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;

          h3 {
            font-weight: 500;
            font-size: 22px;
            line-height: 88.98%;
            text-align: center;
            color: #083a5e;

            @media (max-width: 550px) {
              font-size: 20px;
            }
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 116%;

            color: rgba(73, 118, 150, 0.84);

            @media (max-width: 768px) {
              font-size: 13px;
              line-height: normal;
            }
          }
        }
      }
    }

    .services-img {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      @media (max-width: 768px) {
        width: 60%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}
