/* --- File: src/style/globals/global.scss --- */
@use "swiper/css";
@use "./resets.scss";
@use "../variables" as *;

/* Шрифты */
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v37-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/raleway-v37-cyrillic_latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/raleway-v37-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/raleway-v37-cyrillic_latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/raleway-v37-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v37-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/raleway-v37-cyrillic_latin-800.woff2') format('woff2');
}

body {
  font-family: $font-family-base;
  color: $text-color-base;
  overflow-x: hidden;
  background-color: $background-color-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 5px;

    &:hover {
      background: #a0aec0;
    }
  }
}

::selection {
  background-color: rgba($primary-color, 0.2);
  color: $primary-color-darker;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

:focus-visible {
  outline: 2px solid $primary-color;
  outline-offset: 2px;
}